{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block d-inline-flex mb-1">
            <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Lower price
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Greater price</a></li>
                <li><a class="dropdown-item" href="#">Lower price</a></li>
                <li><a class="dropdown-item" href="#">Release date</a></li>
              </ul>
            </div>
        </div>

        <hr class="hr hr-blurry" />

        <div class="row row-cols-1 row-cols-md-2 mb-4 text-center">
            {% for phone in phones %}
                {% include "phone.html" with phone=phone %}
            {% endfor %}
        </div>
    </div>
{% endblock %}