{% extends "base.html" %}
{% load static %}
{% load dict %}

{% block title %}Catalog{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Catalog</a></h1>
        </div>

        <div class="sort-block d-inline-flex mb-1">
            <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ sort.data|get_value:sort.current }}
              </button>
              <ul class="dropdown-menu">
                {% for sort_key, sort_value in sort.data.items %}
                  <li><a class="dropdown-item" href="{% url 'catalog'%}?order_by={{ sort_key }}">{{ sort_value }}</a></li>
                {% endfor %}
              </ul>
            </div>
        </div>

        <hr class="hr hr-blurry" />

        <div class="row row-cols-1 row-cols-md-3 mb-4 text-center">
            {% for phone in phones %}
                {% include "phone.html" with phone=phone %}
            {% endfor %}
        </div>
    </div>
{% endblock %}