{% load static %}

<div class="col">
  <div class="card mb-4 rounded-3 shadow-sm border-primary">
    <div class="card-header py-3">
      <h4 class="my-0 fw-normal">{{phone.name}}</h4>
    </div>
    <div class="card-body">
      <img src="{{phone.image}}" style="height: 500px" alt="...">
      <h1 class="card-title pricing-card-title">{{phone.price}} RUB</h1>
      <ul class="list-unstyled mt-3 mb-4">
        <li>LTE: {{phone.lte_exists}}</li>
        <li>Released: {{phone.release_date}}</li>
      </ul>
      <a class="w-100 btn btn-lg btn-primary" href="/catalog/{{phone.slug}}" role="button">Details</a>
    </div>
  </div>
</div>