{% extends "base.html" %}
{% load static %}

{% block title %}{{phone.name}}{% endblock %}
{% block content %}
<div class="container">
    <div class="header">
        <h1><a href="/catalog">Catalog</a>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
            {{phone.name}}
        </h1>
    </div>
    <div class="content row">
        <div class="col-3">
            <img src="{{phone.image}}" class="img-fluid" alt="...">
        </div>
        <div class="col">
            <ul class="list-unstyled mt-3 mb-4">
                <li>Price: {{phone.price}} RUB</li>
                <li>Released: {{phone.release_date}}</li>
                <li>LTE: {{phone.lte_exists}}</li>
            </ul>
            <a class="btn btn-primary" href="/catalog/{{phone.slug}}" role="button">Add to cart</a>
        </div>
    </div>
</div>
{% endblock %}